<h1><%= @recipe.name %></h1>
<% if @tags.any? %>
  <ul class="nav nav-pills">
    <% @tags.each do |tag| %>
      <li>
        <%= tag.name %>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @rating.nil? %>
  <h5>Rating: </h5>
  <p>
    <% @rating.times do %>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <% end %>
  </p>
<% end %>


<% if @quantities.any? %>
  <h5>Ingredients:</h5>
  <ul>
    <% @quantities.each do |quantity| %>
      <li>
        <%= quantity.description %> <%= quantity.ingredient.name %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @instructions.length > 0 %>
  <h5>Instructions:</h5>
  <p>
    <%= @instructions %>
  </p>
<% end %>

<!-- <a href="/recipes/<%= @recipe.id %>/edit">Edit</a> -->
